{# -------------- Macro -------------- #}
{% import "_include-core/macros.twig" as _self %}
{# ###################################################################################################### #}
{% set classNameBlauerHintergrund = (block.blauerHintergrundEinblenden)? ' bgBlau' : '' %}
{% set classNameSpacerTopBottom = (block.blauerHintergrundEinblenden)? ' spacerTopBottom' : '' %}
{% set classNameKreisLinksObenEinblenden = (block.kreisLinksObenEinblenden)? ' bgKreis' : '' %}
{# ###################################################################################################### #}
<div class="anchor" id="{{ 'anker' ~ blockid }}"></div>
<section class="wrapper-outer modul-textAccordion{{ classNameBlauerHintergrund }}">
    <section class="wl-wrapper">

        <div class="grid-container content-grid-12{{ classNameSpacerTopBottom }}{{ classNameKreisLinksObenEinblenden }}" id="articles">

            {% set headline = block.headline|default(false) %}
            {% if headline %}
                <div class="containerText-headline">
                    <h2>{{ headline }}</h2>
                </div>
            {% endif %}

            <div class="containerText-body text">
                {% set text = block.text|default(false) %}
                {% if text %}
                    {{ text }}
                {% endif %}

                {% set button1 = block.button1|default(false) %}
                {% set button2 = block.button2|default(false) %}
                {% if ( button1 and block.button1.getUrl() != '' ) or ( button2 and block.button2.getUrl() != '' ) %}
                    <div class="button-container">
                            <span class="btn1">
                            {% if button1  and block.button1.getUrl() != '' %}
                                {{ _self.linkList( button1, 'btn' ) | trim | raw  }}
                            {% endif %}
                            </span>
                             <span class="btn2">
                            {% if button2  and block.button2.getUrl() != '' %}
                                {{ _self.linkList( button2, 'btn' ) | trim | raw  }}
                            {% endif %}
                            </span>
                    </div>
                {% endif %}
            </div>



            {% set accordionHeadline = block.accordionHeadline|default(false) %}
            {% set accordionText = block.accordionText|default(false) %}
            <div class="containerAccordion">

                <div class="{% if accordionHeadline or accordionText %}containerAccordionSpacerBottom{% endif %}">
                    {% if accordionHeadline %}
                        <div class="containerText-headline">
                             <h2>{{ accordionHeadline}}</h2>
                        </div>
                    {% endif %}

                    {% if accordionText %}
                        <div class="containerText-body text">
                            {{ accordionText }}
                        </div>
                    {% endif %}

                 </div>


                <div class="accordionContent">
                    <div class="accordion">
                        {% for entry in block.accordionRechts %}
                            <ul class="accordion-list {{ craft.app.request.isMobileBrowser() ? 'mobile' : 'desktop' }}">
                                <li>
                                    <label class="accordion-label lableOff">
                                        <div class="label-body">
                                            {{ entry.headline }}
                                        </div>
                                    </label>
                                    <div class="accordion-content">
                                        <div class="accordion-content-body text">
                                            {{ entry.text }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

    </section>
</section>


