{# ###################################################################################################### #}
{% set settings = {
   '0-1100' : {
       'size' : '650x366',
       'mode' : 'crop'
   },
   '1-900' : {
       'size' : '650x366',
       'mode' : 'crop'
   },
   '2-450' : {
       'size' : '650x366',
       'mode' : 'crop'
   }
} %}
{% set flipLightBoxCounter = (bilderMitZoomCounter == 0)? '' : bilderMitZoomCounter + 1 %}
{# ###################################################################################################### #}

<div class="anchor" id="{{ 'anker' ~ blockid }}"></div>
<section class="wrapper-outer modul-bilderMitZoom">
    <section class="wl-wrapper">

            <div class="content-grid-12">
                {% set headline = block.headline|default(false) %}
                {% if headline %}
                    <div class="bilderMitZoomHeadline">
                        <h2>{{ headline }}</h2>
                    </div>
                {% endif %}
            </div>

            <div class="content-grid-12">
                    <div class="bilderMitZoom" data-lightbox_vonText="{{ translation.t_von }}">
                        <div class="article-container" data-lightbox_bgColor="{{ block.overlayHintergrundFarbe }}">

                            {% for entry in block.bildAuswahl %}

                                {% set image = entry.bildKlein.one()|default(false) %}
                                {% if image == false %}
                                    {% set image = entry.bildGross.one()|default(false) %}
                                {% endif %}

                                {% set imgSrc = '' %}
                                {% set imgQuality = 65 %}

                                {% if  entry.bildGross.one() %}
                                    {% set imgSrc =  entry.bildGross.one().getUrl({
                                        mode: 'crop',
                                        width: '1600',
                                        height: '845',
                                        quality: (imgQuality),
                                    })  %}
                                    {% set imgSrcSmall =  entry.bildGross.one().getUrl({
                                        mode: 'crop',
                                        width: '650',
                                        height: '366',
                                        quality: (imgQuality),
                                    })  %}
                                {% endif %}

                                <a><img class="lightboxed" rel="group{{ blockid }}" src="{{ imgSrcSmall }}" data-link="{{ imgSrc }}" alt="Image Alt" /></a>


                            {% endfor %}

                        </div>
                    </div>
            </div>

    </section>
</section>


{#
<script type="text/javascript">
    $( document ).ready(function() {
        $('.modul-bilderMitZoom').flipLightBox()
    });
</script>
#}

<script>




$( document ).ready(function() {

      $(".lightboxed").on( "click", function() {
                var bg = $(this).parent().parent().attr("data-lightbox_bgColor");
                var bgRGBA = convertHexToRgbA(bg);

                $("#lightboxed--content").css('background-color', bgRGBA );

                  $(window).resize(function() {
                      setTimeout(function() {
                          $('#lightboxed--bttn_close').trigger('click');
                      }, 50);
                  })
      });


        function convertHexToRgbA(hexVal) {
            let ret;

            // If the hex value is valid.
            if (/^#([A-Fa-f0-9]{3}){1,2}$/.test(hexVal)) {

                // Getting the content after '#',
                // eg. 'ffffff' in case of '#ffffff'
                ret = hexVal.slice(1);

                // Splitting each character
                ret = ret.split('');

                // Checking if the length is 3
                // then make that 6
                if (ret.length == 3) {
                    let ar = [];
                    ar.push(ret[0]);
                    ar.push(ret[0]);
                    ar.push(ret[1]);
                    ar.push(ret[1]);
                    ar.push(ret[2]);
                    ar.push(ret[2]);
                    ret = ar;
                }

                // Starts with '0x'(in hexadecimal)
                ret = '0x' + ret.join('');

                // Converting the first 2 characters
                // from hexadecimal to r value
                let r = (ret >> 16) & 255;

                // Converting the second 2 characters
                // to hexadecimal to g value
                let g = (ret >> 8) & 255;

                // Converting the last 2 characters
                // to hexadecimal to b value
                let b = ret & 255;

                // Appending all of them to make
                // the RGBA value
                return 'rgba(' + [r, g, b].join(',') + ',0.5)';
            }

        }

    });


</script>