<div class="anchor" id="{{ 'anker' ~ blockid }}"></div>
<section class="wrapper-outer modul-sliderInfoTeaser">
    <section class="wl-wrapper">

         <div class="content-grid-12">

             {% set headline  = block.headline|default(false) %}
             {% if headline  %}
                 <div class="sliderInfoTeaserHeadline">
                     <h2>{{ headline }}</h2>
                 </div>
             {% endif %}

            <div class="artikelSliderContainer blende-js">
                    <div id="artikelSlider{{ blockid }}" class="artikelSliderBody">

                        {% set showItemListe = block.item.one()|default(false) %}{% if showItemListe %}
                            {% for element in block.item.all() %}

                                <div class="item item-js">
                                    <div class="artikelSliderItemIcon">

                                        {% set icon =  element.icon.one()|default(false) %}
                                        {% if icon %}
                                        {% set imgSrc = icon.getUrl({
                                            mode: 'fit',
                                            width: '35',
                                            height: '35',
                                            quality: (imgQuality),
                                        })  %}

                                            <div class="itemImg"><img src="{{ imgSrc }}" alt="{{ element.icon.one().title }}" /></div>

                                        {% endif %}

                                    </div>
                                    <div class="artikelSliderItemText">
                                        {{ element.text }}
                                    </div>
                                </div>

                            {% endfor %}
                        {% endif %}

                    </div>
            </div>

        </div>

        <div class="content-grid-12">

            <div class="sliderWrapper">
                <div class="blendeLinks blende{{ blockid }}"></div>
                <div class="blendeRechts blende{{ blockid }}"></div>
            </div>

        </div>

    </section>
</section>


<script>
    $(document).ready(function() {

        $('#artikelSlider{{ blockid }}').slick({

            dots: false,
            infinite: true,
            speed: 1500,
            autoplay: true,
            autoplaySpeed: 2000,
            slidesToShow: 5,
            slidesToScroll: 3,

            responsive: [
                {
                    breakpoint: 1500,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 900,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

    });


    $('#artikelSlider{{ blockid }}').on('setPosition', function(event, slick, currentSlide){

        $('.item-js').matchHeight();
        heightBlende{{ blockid }}();

    });

    function heightBlende{{ blockid }}() {

       var height = $('#artikelSlider{{ blockid }}').height();

        $('.blende{{ blockid }}').css('height', height + 'px');
        $('.blende{{ blockid }}').css('margin-top',  '-' + height + 'px');
    }

</script>
