{% set produktGruppeId = ( craft.app.request.getParam('pgid') )? craft.app.request.getParam('pgid') : '' %}
{% set produktPageId = ( craft.app.request.getParam('pid') )? craft.app.request.getParam('pid') : '' %}
{% set landid = ( craft.app.request.getParam('landid') )? craft.app.request.getParam('landid') : '' %}
{% set resultContainerClassName = ( craft.app.request.getParam('produktGruppeId') )? '' : ' resultContainer' %}
{% set lgSlug = (currentSite.handle == 'en')? '/en' : '' %}

{% set produktGruppeIdNumberMoreThanZero = false %}
{% if produktGruppeId != ''  %}
    {% set produktGruppeIdArray = produktGruppeId|split(',') %}
    {% set produktGruppeIdNumberMoreThanZero = (produktGruppeIdArray|length > 0)? true : false %}
{% endif %}

{#  Demo Aufruf für Händler eines betimmten Produktes: /heandler-finden?pgid=1277,1328&pid=1584  #}

<script>

    $(document).ready(function(){

        $(document).on('click', '.btnPager', function () {
            output = $(this).attr("data-more");
            ajaxFeedbackNext(output);
        });

        //=================================================================================

        function ajaxFeedbackNext(ajaxUrl = '') {

            resultContainer = $('.resultContainer');

            $.get(ajaxUrl, function (data) {
                $(resultContainer).html(data);
            }).done(function() {
                setTimeout(function () {
                    phoneNumberOnlyIsDesktop();
                    replaceEmail();
                }, 200);
            });



        };

        //=================================================================================

        $('.resultContainer').hide();

        {#   Ist Funktionstüchtig, wird heir aber nicht benötigt!

        {% if produktGruppeIdNumberMoreThanZero == false %}

                changeProduktgruppe('{{ produktGruppeId }}');

                setTimeout(function() {
                    var dataElement  = $('[data-value="{{ produktGruppeId }}"]').text();
                    $('.custom-select-1 span.custom-select-trigger').text(dataElement);
                    $('.custom-select-2').find('.alleCat').hide();
                    $(".custom-select-2 .custom-select-trigger").css('background-color', '#EC6500');
                    $(".custom-select-2 .custom-select-trigger").css('color', '#FFFFFF');
                    $(".custom-select-2 .custom-select-trigger").addClass('highlight');
                }, 100);

                {% else %}
                changeProduktgruppe();
                {% endif %}
        #}

        {% if produktGruppeIdNumberMoreThanZero %}
        changeProduktgruppe('{{ produktGruppeId }}');
        {% else %}
        changeProduktgruppe();
        {% endif %}

        setTimeout(function() {
            $('.resultContainer').fadeIn();
        }, 500);

    });


    function ajaxFeedback(land = '', produktgruppe = '') {

        if(produktgruppe == ''){
            produktgruppe = $('#produktgruppe-select #alle').val();
        }

        var dataElementLand  = $('#articles').attr("data-startLand");

        if(dataElementLand != ''){
            land = dataElementLand;
            $('#articles').attr("data-startLand", "");
            dataElementLand = '';
        }

        var ajaxUrl='{{lgSlug}}/feedback-ajax/?template=haendler&blockid={{ blockid }}&produktgruppe=' + produktgruppe + '&land=' + land + '&sectionname={{ sectionname }}' + '&pageid={{ pageid }}',
            resultContainer = $('.resultContainer');

        $.get(ajaxUrl, function(data){
            $(resultContainer).html(data);

        }).done(function() {
            setTimeout(function () {
                phoneNumberOnlyIsDesktop();
                replaceEmail();
            }, 200);

            setTimeout(function () {
                $('.artikelCat-js').matchHeight();
            }, 800);
        });

    };


function statusLandCategory(produktgruppe = '') {

        var ajaxUrl='{{lgSlug}}/feedback-ajax?template=haendlerFilter-statusLand&blockid={{ blockid }}&produktgruppe=' + produktgruppe + '&sectionname={{ sectionname }}' + '&pageid={{ pageid }}', result, resutArr,  IDsCategoryLandDisabledStr;

        $.ajax({
            produktgruppee: "GET",
            url: ajaxUrl,
            success: function(data) {

                result = data.replace(" ", "");
                result =  $.trim(result);
                resutArr = jQuery.parseJSON( result );
                //alert('Array result' + resutArr.toString());

                $(".custom-select-2 .custom-options").children().removeClass( "disabled" );
                $("#land-select").children("[data-alle]").remove();

                IDsCategoryLandStr = $('#produktgruppe-select').attr("data-categoryLandStr");
                IDsCategoryLandArr = IDsCategoryLandStr.split(',');
                IDsCategoryLandDisabledStr = IDsCategoryLandStr;


                //$(".custom-select-2 .custom-options").children().removeClass( "disabled" );
                $.each(IDsCategoryLandArr, function(key, land) {

                    $("#land-select").children("[value^=" + land + "]").prop( "disabled", false );

                    $.each(resutArr, function(k, value) {
                        if( value == land ) {
                            IDsCategoryLandDisabledStr = IDsCategoryLandDisabledStr.replace("," + value, "");
                            IDsCategoryLandDisabledStr = IDsCategoryLandDisabledStr.replace( value + ",", "");
                        }
                    });

                });

                IDsCategoryLandArrDisabled = IDsCategoryLandDisabledStr.split(',');
                $.each(IDsCategoryLandArrDisabled, function(key, land) {
                    $("#land-select").children("[value^=" + land + "]").prop( "disabled", true ).addClass('disabled');
                    $(".custom-select-2 .custom-options").children("[data-value^=" + land + "]").addClass('disabled');
                });

            },
            error: function() {
                alert('Error');
            }
        });

    }

</script>


<div class="anchor" id="{{ 'anker' ~ blockid }}"></div>
<section class="blog-wrapper-outer modul-haendlerFilter" id="result">
    <div class="wl-wrapper">

                {# Auswahl Produkt Gruppe #}
                {% set categoryProduktgruppeStr = ''  %}
                {% set counter = '1' %}
                {% set kategorieProduktgruppeArr = {} %}

                {% set allCategoryProduktgruppe = craft.categories().group('produktGruppen') %}
                {% for elemente in allCategoryProduktgruppe.all() %}
                    {% set categoryProduktgruppeStr  = (counter == 1)? elemente.id : categoryProduktgruppeStr  ~ ',' ~ elemente.id  %}
                    {% set kategorieProduktgruppeArr = kategorieProduktgruppeArr|merge({ (loop.index)  :  '<option value="' ~ elemente.id ~ '">' ~ elemente.title  ~ '</option>' }) %}
                    {% set counter = counter + 1 %}
                {% endfor %}

                {#  ========================================================================================================================================== #}

                {# Auswahl Land #}
                {% set categoryLandStr = ''  %}
                {% set counter = '1' %}
                {% set categoryLandArr = {} %}

                {% set allCategoryLand = craft.categories().group('land') %}
                {% for elemente in allCategoryLand.all() %}
                    {% set categoryLandStr  = (counter == 1)? elemente.id : categoryLandStr  ~ ',' ~ elemente.id  %}
                    {% set categoryLandArr = categoryLandArr|merge({ (loop.index)  :  '<option value="' ~ elemente.id ~ '">' ~ elemente.title  ~ '</option>' }) %}
                    {% set counter = counter + 1 %}
                {% endfor %}

                {#  ========================================================================================================================================== #}

                {# Alle Händler String #}
                {% set sectionName = 'land' %}
                {% set allProduktgruppeIds = '' %}
                {% set produktgruppeNameEbene1 = craft.entries().section(sectionName).level('1') %}
                {% for element in produktgruppeNameEbene1 %}
                    {% set allProduktgruppeIds = allProduktgruppeIds ~ ',' ~ element.id  %}
                {% endfor %}
                {% set allProduktgruppeIds = allProduktgruppeIds|trim(',') %}
                {# ------------------------------------------------------------ #}

                <div class="content-grid-12">

                    <div class="select-container">

                        <div class="auswahlProduktgruppe" data-start="{{ produktGruppeId }}">
                            <div class="select-Beschreibung">{{ translation.t_produktgruppe }}</div>
                            <select name="auswahlProduktgruppe" id="produktgruppe-select" data-categoryLandStr="{{ categoryLandStr }}" class="custom-select-1 custom-select sources"  placeholder="{{ translation.t_produktWaehlen }}">
                                <option class="selectText" value=""></option>
                                <option class="allTyp" id="alle" value="{{ categoryProduktgruppeStr }}">{{ translation. t_alleProduktgruppen }}</option>
                                {% for option in kategorieProduktgruppeArr %}
                                    {{ option|raw }}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="auswahlLand">
                            <div class="select-Beschreibung">{{ translation.t_land }}</div>
                            <select name="auswahlLand" id="land-select" class="custom-select-2 custom-select sources" placeholder="{{ translation.t_landWaehlen }}" data-produktgruppe>
                                <option class="selectText"  value=""></option>
                                <option value="" class="alleCat" data-alle>{{ translation.t_alleLaender }}</option>
                                {% for option in categoryLandArr %}
                                    {{ option|raw }}
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    {% set productGroupStr = '' %}
                    {% set productGroupText = '' %}
                    {% if produktGruppeIdNumberMoreThanZero %}
                        <div class="teaser-result-info" data-value="{{ produktGruppeId }}">

                            {# ======================================================================== #}

                            {% set sortKategorieProduktgruppeReihenfolgeArr = {} %}
                            {% set productGroupStr = '' %}

                            {% set categoryReihenfolge = craft.categories().group('produktGruppen') %}
                            {% for key, elemente in categoryReihenfolge.all() %}
                                {% set valueExistsInArray = elemente.id|integer %}
                                {% set key = elemente.id|string  %}
                                {% if valueExistsInArray in produktGruppeIdArray %}
                                    {% set sortKategorieProduktgruppeReihenfolgeArr = sortKategorieProduktgruppeReihenfolgeArr|merge({ ( 'id-' ~ key )  : elemente.kategorieGruppeName }) %}
                                {% endif %}
                            {% endfor %}

                            {% for key, value in sortKategorieProduktgruppeReihenfolgeArr %}
                                {% set kategorieProduktgruppeID = key|replace({'id-': ''})%}
                                {% if kategorieProduktgruppeID == idKategorieTofProdukte %}
                                    {% set productGroupText = '<span class="green">' ~ value ~ '</span>' %}
                                {% else %}
                                    {% set productGroupText = '<span class="blue">' ~ value ~ '</span>' %}
                                {% endif %}
                                {% set productGroupStr = (productGroupStr == '')? productGroupText : productGroupStr  ~ '<span class="spacer">&nbsp;&frasl;&nbsp;</span>' ~ productGroupText  %}
                            {% endfor %}

                            {# ======================================================================== #}

                            {% if produktPageId != '' %}
                                {% set produktPagesObj = craft.entries.id(produktPageId).one() %}
                                {% set produktTitle = (produktPagesObj.section.handle == 'produkt')? translation.t_produktInfo : translation.t_produktZubehoerInfo  %}
                                {# <div class="productGroup">{{ productGroupStr|raw }}</div>#}
                                <div class="produktTitle"><h4>{{ produktTitle }}</h4></div>
                                <div class="produkt">{{ produktPagesObj.produktName }}</div>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>

                <div class="content-grid-12">
                        <div class="teaser-container" id="articles" data-startLand="{{ landid }}">
                            <div class="result resultContainer"></div>
                        </div>
                </div>

    </div>
</section>












