{% macro checkLinkList(element) %}
    {{ (element.getLink() != '')? '1' : '0'  }}
{% endmacro %}

{# ======================================================================================================================================================== #}

{% macro linkList(element, className) %}{% apply spaceless %}

    {# All Types: Asset |  Category | Custom | Email | Embed | Entry | Phone | Site | URL | User #}
    {# Types in use: Entry | URL | Custom | Email | Phone | Asset #}

    {% set type = element.label %}
    {% set text = element.getText() %}
    {% set link = element %}
    {% set class = (className != '')? ' class="' ~ className ~ '"' : '' %}
    {% set anchorName = element.anchorName|trim |replace({'#':''}) %}
    {% set anchor = (anchorName != '')? '#' ~ anchorName : '' %}
    {% set url = ( anchor != '')? link ~ anchor : link %}
    {% set target = ( element.getTarget() == '_blank' )? '_blank' : '_self' %}
    {% set showLink = (element.getLink() != '')? true : false  %}

    {# *** Cases ************************************************************* #}

    {% if  type == 'Email' %}

        {% if text == '' %}
            {% set text = link |replace({'mailto:':''}) %}
        {% endif %}

    {% elseif  type == 'Phone' %}

        {% if text == '' %}
            {% set text = link |replace({'tel:':''}) %}
        {% endif %}
        {% set cleanPhonenumber = 'tel:' ~ craft.wul.phone(link,'','','','','1')|raw  %}

    {% endif %}
    {# ************************************************************************* #}

    {% if showLink %}

        {% if type == 'Entry' %}
            {# Entry --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">{{ text|trim }}</a>
        {% elseif  type == 'URL' %}
            {# URL --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">{{ text|trim }}</a>
        {% elseif  type == 'Custom' %}
            {# Custom --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">{{ text|trim }}</a>
        {% elseif  type == 'Asset' %}
            {# Asset --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">{{ text|trim }}</a>
        {% elseif  type == 'Email' %}
            {# URL --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">{{ text|trim }}</a>
        {% elseif  type == 'Phone' %}
            {# URL --------------------------------------------------------------------- #}
            <a href="{{ cleanPhonenumber }}"{{ class|raw }}>{{ text|trim }}</a>
        {% endif %}

    {% endif %}

{% endapply %}{% endmacro %}

{# ======================================================================================================================================================== #}

{% macro linkListOnlyAtag(element, className) %}{% apply spaceless %}


    {# All Types: Asset |  Category | Custom | Email | Embed | Entry | Phone | Site | URL | User #}
    {# Types in use: Entry | URL | Custom | Email | Phone | Asset #}

    {% set type = element.label %}
    {% set text = element.getText() %}
    {% set link = element %}
    {% set class = (className != '')? ' class="' ~ className ~ '"' : '' %}
    {% set anchorName = element.anchorName|trim |replace({'#':''}) %}
    {% set anchor = (anchorName != '')? '#' ~ anchorName : '' %}
    {% set url = ( anchor != '')? link ~ anchor : link %}
    {% set target = ( element.getTarget() == '_blank' )? '_blank' : '_self' %}
    {% set showLink = (element.getLink() != '')? true : false  %}

    {# *** Check & Cases ******************************************************** #}
    {% if  type == 'Phone' %}
        {% set cleanPhonenumber = 'tel:' ~ craft.wul.phone(link,'','','','','1')|raw  %}
    {% endif %}
    {# ************************************************************************* #}

    {% if showLink %}

        {% if type == 'Entry' %}
            {# Entry --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">
        {% elseif  type == 'URL' %}
            {# URL --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">
        {% elseif  type == 'Custom' %}
            {# Custom --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">
        {% elseif  type == 'Asset' %}
            {# Asset --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">
        {% elseif  type == 'Email' %}
            {# URL --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">
        {% elseif  type == 'Phone' %}
            {# URL --------------------------------------------------------------------- #}
            <a href="{{ cleanPhonenumber }}"{{ class|raw }}>
        {% endif %}

     {% endif %}

{% endapply %}{% endmacro %}


{# ======================================================================================================================================================== #}

{% macro switcherLinks() %}

    {#
    FÜR UMSCHALTEN SPRACHEN
    ========================================================
    AUFRUF:
        {% import "_macros/switcherLinks.twig" as _self %}
        {{ _self.switcherLinks() | trim | raw  }}
    #}

    {% set currentElement = craft.app.urlManager.matchedElement %}
    {% set sites = craft.app.getSites().getGroupById(currentSite.groupId).getSites() %}
    {% set switcherLinks = [] %}


    {% if sites is not empty  %}
            {% for site in sites %}

                {% set url = site.getBaseUrl() %}
                {% if currentElement %}
                    {% set otherLocaleElement = craft.app.getElements().getElementById(currentElement.id, currentElement.className(), site.id) %}
                    {% if otherLocaleElement and otherLocaleElement.enabledForSite %}
                        {% set url = otherLocaleElement.url %}
                    {% endif %}
                {% endif %}

                {% set switcherLinks = switcherLinks|merge([{
                    url: url,
                    countryCode: site.language|split('-')|last,
                    current: site.id == currentSite.id ? true : false,
                    language: site.language,
                    handle: site.handle,
                }]) %}

            {% endfor %}

            {# outputting html #}
            {% if switcherLinks|length > 1 %}
                {% for switcherLink in switcherLinks %}
                    {% if  switcherLink.handle != currentSite.handle %}
                    <a class="{{switcherLink.current ? 'is-active'}}" href="{{switcherLink.url}}" hreflang="{{switcherLink.handle}}" lang="{{switcherLink.handle}}">
                        {{ switcherLink.handle }}
                    </a>
                    {% endif %}
                {% endfor %}
            {% endif %}


    {% endif %}

{% endmacro %}


{# ======================================================================================================================================================== #}

{% macro formField( formularId, fieldName, block ) %}

    {#
    Ausgabe Form Field
    ========================================================
    AUFRUF:
        {% import "_macros/switcherLinks.twig" as _self %}
        {{ _self.formField( formularId, fieldName ) | trim | raw  }}
    #}

    {% set form = wheelform.form({
        id: formularId
    }) %}

    {% set formField = {} %}
    {% for field in form.fields %}
        {% if field.name == fieldName %}
            {% set formField = { ("0") : field } %}
        {% endif %}
    {% endfor %}

    {% for field in formField %}
        {% switch field.type %}
        {% case "checkbox" %}
            {% for item in field.items %}
                {% if field.name == 'antispam' %}
                    {#
                    <input class="antispam" type="checkbox" value="prevent spam" name="antispam[]" id="" checked />
                    <input class="checkbox {{field.name}} {{field.fieldClass}}" type="checkbox" value="{{ item }}" {{values[field.name] is defined and item in values[field.name] ? ' checked="checked"' : '' }} name="{{field.name}}[]" id=""/>
                    #}
                {% endif %}
            {% endfor %}
            {% if field.name != 'antispam' %}
                <div class="form-checkbox form-item-wrapper InputfieldCheckbox{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
                    {% for item in field.items %}

                        <label>
                            <input class="checkbox {{field.name}} {{field.fieldClass}}{% if field.required %} required{% endif %}" type="checkbox" value="{{ item }}" {{values[field.name] is defined and item in values[field.name] ? ' checked="checked"' : '' }} name="{{field.name}}[]" id=""/>
                            <div class="checkmark-labletext">
                                {% if field.name == 'dsgvo' %}
                                    {% set labletext = block.datenschutzCheckboxLabelText %}
                                {% else %}
                                    {% set labletext = field.label %}
                                {% endif %}
                                <span class="checkmark"></span>
                                <span class="mandatory{% if field.required %} required{% endif %}"><em></em></span>
                                <span class="labletext{% if field.name == 'dsgvo' %}-dsgvo{% endif %}{% if field.required %} required{% endif %}">{{ labletext }}</span>
                            </div>
                        </label>

                    {% endfor %}
                </div>
            {% endif %}
        {% case "radio" %}
            <div class="form-radio form-item-wrapper InputfieldRadio{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
                <label class="form-radio-label{% if field.required %} required{% endif %}">{{field.label|raw}} <em></em></label>
                <div class="typeRadio">
                    {% for item in field.items %}
                        <label class="radioItem">
                            <input class="custom-radio radio {{field.name}} {{field.fieldClass}}{% if field.required %} required{% endif %}" type="radio" value="{{ item }}" {{values[field.name] is defined and item == values[field.name] ? ' checked="checked"' : '' }} name="{{field.name}}" id="box-shadow" />
                            {{item}}
                        </label>
                    {% endfor %}
                </div>
            </div>
        {% case "select" %}
            <div class="form-select form-item-wrapper InputfieldSelect{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
                {% set break = 0 %}
                {% set setAciveClassSelect = 'test' %}
                {% for item in field.items %}
                    {% if  values[field.name] is defined and item == values[field.name] and break == 0 %}
                        {% set setAciveClassSelect = 'active ' %}
                        {% set break = 1 %}
                    {% endif %}
                {% endfor %}
                <label class="{{ setAciveClassSelect }}lableSelect lableSelect lableSelectOverwrite select-icon{% if field.required %}  required{% endif %}">{{field.label}}<em></em></label>

                <select id="wf-select" name="{{field.name}}" class="wf-field {{field.fieldClass}}{% if field.required %} required{% endif %}">
                    <option></option>
                    {% for item in field.items %}
                        <option value="{{ item }}" {{values[field.name] is defined and item == values[field.name] ? 'selected="selected"' : '' }}>{{item}}</option>
                    {% endfor %}
                </select>
            </div>
        {% case "file" %}
            <div class="uploadFileContainer form-group form-item-wrapper InputfieldFile{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
                {# {{field.label|raw}} #}
                <label class="errorInfo">Bitte PDF uploaden!<em></em></label>

                {% if field.label|raw == 'pdfUpload1' %}
                    <label class="inputUploadFile" for="inputUploadFile">
                        <div class="uploadContainer">
                            <input class="uploadInput form-control {{field.name}} {{field.fieldClass}}{% if field.required %} required{% endif %}" type="file" name="{{field.name}}" id="inputUploadFile" accept="application/pdf" multiple />
                            <div id="fileName"></div>
                        </div>
                    </label>

                {% endif %}

            </div>
        {% case "textarea" %}
            {% set setAciveClass = '' %}
            {% if craft.app.request.getBodyParam(field.name) != '' %}
                {% set setAciveClass = 'active ' %}
            {% endif %}
            <div class="form-group form-item-wrapper InputfieldTextarea{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
                <label class="{{ setAciveClass }}lableInputField{% if field.required %} required{% endif %}"> {{field.label}}<em></em></label>
                <textarea class="form-control {{field.name}} {{field.fieldClass}}{% if field.required %} required{% endif %}" name="{{field.name}}" id="">{{ values[field.name] ?? '' }}</textarea>
            </div>
        {% case "list" %}
            <div class="form-group form-item-wrapper InputfieldList{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
                <label>{{field.label|raw}} <em></em></label>
                <input class="form-control {{field.name}} {{field.fieldClass}}" type="text" name="{{field.fieldClass}} {{field.name}}[]" id=""/>
                <script>//Javascript to handle adding fields</script>
            </div>
        {% default %}
            {% set value = ''  %}
            {% set value = values[field.name] ?? ''  %}
            {% set classNameScrollto = '' %}
            {% if field.name == 'scrollto' %}
                {% set value = '1' %}
                {% set classNameScrollto = ' scrollto' %}
            {% endif %}
            {% set setAciveClass = '' %}
            {% if craft.app.request.getBodyParam(field.name) != '' %}
                {% set setAciveClass = 'active ' %}
            {% endif %}
            <div class="{% if field.name == 'scrollto' %}hiddenElement {% endif %}{{ setAciveClass }}form-group form-item-wrapper InputfieldText{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
                <label class="{{ setAciveClass }}lableInputField{% if field.required %} required{% endif %}"> {{field.label}}<em></em></label>
                <input class="form-control {{field.name}} {{field.fieldClass}}{% if field.required %} required{% endif %}" type="{{field.type}}" value="{{ value }}" name="{{field.name}}" id="form-{{field.name}}"/>
            </div>
        {% endswitch %}

        {#
        {{ wheelformErrors[field.name] is defined ? errorList(wheelformErrors[field.name]) }}
        #}
        {% if wheelformErrors[field.name] is defined %}
            {% set fieldNames = field.label %}
            {% set errorArray = errorArray|merge( [fieldNames] )  %}
            {% set formError = 1 %}
        {% endif %}

    {% endfor %}

{% endmacro %}

