{% extends 'main' %}

{% block content %}

    {% if sectionName == 'blog' %}
        {% set block = entry %}
    {% endif %}

    {% set cat = ( craft.app.request.getParam('cat') )? craft.app.request.getParam('cat') : '' %}
    {% set auswahlKategorieObj = entry.auswahlKategorie %}

    <section class="wl-wrapper contentIntro">
        {% include '_include-introblock-components/intromodul_default.twig' %}
    </section>


    <section class="wl-wrapper blog-detail">
        <div class="elementIntro content-grid-12">

            <div class="elementContent">

                {# ###################################################################################################### #}
                {% set settings = {
                    '0-1300': {
                        'size' : '726x409',
                        'mode' : 'crop'
                    },
                    '1-500': {
                        'size' : '415x243',
                        'mode' : 'crop'
                    },
                    '0-500': {
                        'size' : '344x194',
                        'mode' : 'crop'
                    },
                } %}
                {# ###################################################################################################### #}
                {% set matrixElemente = entry.blogDetailMatrix %}
                {% set blockCounter = 0 %}
                {% if matrixElemente is defined and matrixElemente %}
                    {% for block in matrixElemente %}

                        {% if block.type == "text" %}
                            <div class="elementContentText text">
                                {{ block.detailText }}
                            </div>

                        {% elseif block.type == "blogAbstand" %}

                            {% set outputAbstand = '' %}
                            {% set outputAbstand = block.abstandTrenner|number  %}
                            {% set dataMin = 25 %}
                            {% set dataMaxDefault = 45 %}
                            {% set abstand = (outputAbstand == '')? dataMaxDefault : outputAbstand %}
                            {% set prefix = loop.index %}
                            <section data-abstandContainer class="wl-wrapper">
                                <div data-attr="height" data-min="{{ dataMin }}" data-max="{{ abstand }}" class="abstand-{{ prefix }}"></div>
                            </section>

                        {% elseif block.type == "image" %}
                            {% set bildUnterschrift = block.bildUnterschrift|default(false) %}
                            <div class="elementContentImage imgSpacingTop{% if bildUnterschrift == false %} imgSpacingBottom{% endif %}">
                                {% include '_include-vendor/image-picture' with {class: 'content-bild', sourceMediaSettings: settings, image: block.detailImage.one(), imageSize: '1080x609', imageMode: 'crop'} %}
                            </div>

                            {% if bildUnterschrift %}
                                <div class="elementContentImageUnterschrift">
                                    {{ bildUnterschrift|nl2br }}
                                </div>
                            {% endif %}

                        {% endif %}

                        {% set blockCounter = blockCounter + 1 %}
                    {% endfor %}
                {% endif %}

                {% if blockCounter > 0 %}
                <div class="buttonBackContainer">
                    {% if  blogConfig.backLink.type == 'entry' %}
                        <a class="btn" href="{{blogConfig.backLink.getUrl()}}#result">{{blogConfig.backLink.getCustomText()}}</a>
                    {% endif %}
                </div>
                {% endif %}

            </div>

        </div>
    </section>
{% endblock %}
