{# ###################################################################################################### #}
{% set settings = {
    '0-1500' : {
        'size' : '650x366',
        'mode' : 'crop'
    },
    '1-1200' : {
        'size' : '650x366',
        'mode' : 'crop'
    },
    '2-900' : {
        'size' : '650x366',
        'mode' : 'crop'
    },
    '3-700' : {
        'size' : '650x366',
        'mode' : 'crop'
    },
    '4-500' : {
        'size' : '650x366',
        'mode' : 'crop'
    },
    '5-300' : {
        'size' : '650x366',
        'mode' : 'crop'
    },
} %}
{% set image = block.bild.one()|default(false) %}
{# -------------- Macro -------------- #}
{% import "_include-core/macros.twig" as _self %}
{# ###################################################################################################### #}
<div class="intromodul-default">

    <div class="grid-container content-grid-12">

        <div class="containerText-head intromodulAbstandTop">

            {% set claim = block.claim|default(false) %}
            {% if claim %}
                <div class="containerText-claim{{ claimClassName }}">
                    {{ claim }}
                </div>
            {% endif %}

           {% set headline = block.headline|default(false) %}
           {% if headline %}
            <div class="containerText-headline">
                   <h1>{{ headline }}</h1>
            </div>
           {% endif %}

        </div>

        <div class="containerText-body">

            <div class="text">
                {{ block.text }}
            </div>

            <div class="buttonIntro">
                    <span class="buttonIntro1">
                    {% set button1 = block.button1|default(false) %}{% if button1 %}
                            {{ _self.linkList( button1, 'btn' ) | trim | raw  }}
                        {% endif %}
                    </span>
                <span class="buttonIntro2">
                    {% set button2 = block.button2|default(false) %}{% if button2 %}
                        {{ _self.linkList( button2, 'btn' ) | trim | raw  }}
                    {% endif %}
                    </span>
            </div>

        </div>

        <div class="containerBild intromodulAbstandTop">
            {% if image %}
                <div class="introbild">
                    {% include '_include-vendor/image-picture' with {class: 'intro-img', sourceMediaSettings: settings, image: image, imageSize: '650x366', imageMode: 'crop'} %}
                </div>
            {% endif %}
        </div>

    </div>

</div>


