{# *------------* Beschreibung GET Variabeln *------------ *#}
{# ************************************************* #}
{#
template        => Dieses Template wird über get-ajax-feedback.twig aufgerufen diese benötigt den Namen dieses templates
blockid         => wird das matrixElemente der "Content Page" in der Schleife ausgelesen ist dies die Block ID wo das Modul aufgerufen wird (benötigt in get-ajax-feedback.twig )
produktgruppe   => IDs Produktgruppe-Kategorie
land            => IDs Land-Kategorie
sectionname     => sectionname der "Content Page" Seite welches über das entprechende Modul, das Ajax Event ausgelöst
pageid          => ID der "Content Page" Seite welches über das entprechende Modul, das Ajax Event ausgelöst
#}

{# -------------- Macro -------------- #}
{% import "_include-core/macros.twig" as _self %}
{# ###################################################################################################### #}

{# ************************************************* #}
{# *------------* START Konfiguration *------------ *#}
{# ************************************************* #}
{% set lg = 'en' %}
{# *-----------------------------------------*#}

{% set myUrl = url(craft.app.request.pathInfo) %}
{% set param = '?' ~ craft.app.request.getQueryStringWithoutPath()%}

{# *-----------------------------------------*#}
{% set sectionName = 'haendler' %}
{# *-----------------------------------------*#}
{% set idKategorieTofProdukte= adminConfig.idKategorieTofProdukte %}
{# *-----------------------------------------*#}
{% set articleItemsProduktgruppe = '' %}
{# *-----------------------------------------*#}
{% set showMore = false %}
{# *-----------------------------------------*#}
{% set resultPager = block.pager|number %}

{% if resultPager == 0 %}
    {% set pageSizeArtikel = 10000 %}
{% else %}
    {% set pageSizeArtikel = block.anzahlArtikel.value|number %}
{% endif %}

{# *-----------------------------------------*#}
{% set hasCategory = '0' %}
{# *-----------------------------------------*#}
{% set categoryBy = ''  %}
{# *-----------------------------------------*#}
 {% set ausgabeLand = '' %}
{# *-----------------------------------------*#}
{% set pageIdsLand = {} %}
{% set counterPageIdsLand = 0 %}
{# *-----------------------------------------*#}
{% set showAll = (land == '')? true : false %}
{# *-----------------------------------------*#}

{# *----------------* Land *---------------- #}
{% set categoryLandIdsAnzahl = 0 %}


{% if land != '' %}

    {% set categoryLandIdsArray = land|split(',') %}
    {% set categoryLandIdsAnzahl = categoryLandIdsArray|length %}
    {% set categoryLandSelectById = craft.categories().id(categoryLandIdsArray).all() %}
    {% set categoryLandBy = { element: categoryLandSelectById  }  %}
    {# ###################################### #}
    {% set articleItemsLand = craft.entries()
        .section(sectionName)
        .relatedTo(['and',categoryLandBy])
        .limit(pageSizeArtikel) %}

{% endif %}

{# *-------------* Produktgruppe *------------- #}
{% set categoryProduktgruppeIdsAnzahl = 0 %}
{% if produktgruppe != '' %}

    {% set categoryProduktgruppeIdsArray = produktgruppe|split(',') %}
    {% set categoryProduktgruppeIdsAnzahl = categoryProduktgruppeIdsArray|length %}
    {% set categoryProduktgruppeSelectById = craft.categories().id(categoryProduktgruppeIdsArray).all() %}
    {% set categoryProduktgruppeBy = { element: categoryProduktgruppeSelectById  }  %}
    {# ###################################### #}
    {% set articleItemsProduktgruppe = craft.entries()
        .section(sectionName)
        .relatedTo(['and',categoryProduktgruppeBy])
        .limit(pageSizeArtikel) %}

{% endif %}

{# * ============================================================ * #}
{# * ============================================================ * #}

{% if categoryProduktgruppeIdsAnzahl >= 1 and categoryLandIdsAnzahl >= 1 %}

    {% set articleItemsAll = craft.entries()
        .section(sectionName)
        .relatedTo(['and',
            {element: produktgruppe},
            {element: land}
        ])
    %}

    {% for item in articleItemsAll %}

        {% for catLandResult in item.auswahlKategorieLand.all() %}
            {% if land == catLandResult.id  %}
                {% set pageIdsLand = pageIdsLand|merge({ (counterPageIdsLand) : item.id }) %}
                {% set counterPageIdsLand = counterPageIdsLand + 1 %}
            {% endif %}
        {% endfor %}

    {% endfor %}

{% endif %}

{# * ******************************************************************************************************* *#}

    {% if land != '' %}

        {# einzel Land #}
        {% set pageIdsLandStr = pageIdsLand|join(', ') %}

        {% set articleItems = craft.entries()
            .section(sectionName)
            .relatedTo(['and',categoryProduktgruppeBy])
            .id(pageIdsLandStr)
            .limit(pageSizeArtikel) %}

        {% paginate articleItems as pageInfo, entries %}

    {% elseif produktgruppe != '' and land == '' %}

        {# Alle Produktgruppen / einzel Produktgruppe #}
        {% set articleItems = articleItemsProduktgruppe %}

    {% else %}

        {% set articleItems = articleItemsProduktgruppe %}

    {% endif %}

{# * ******************************************************************************************************* *#}

    {% set anzahlArtikel = articleItems.count()  %}
    {% if anzahlArtikel > 4 and anzahlArtikel > pageSizeArtikel %}
        {% set showMore = true %}
        {% paginate articleItems as pageInfo, entries %}
    {% else %}
        {% set showMore = false %}
    {% endif %}

    {# *-----------------------------------------* #}

    {% if showMore == false %}
        {% set entries = articleItems %}
    {% endif %}


     {% set counter = '1' %}
     {% if entries|length > 0 %}

         <div class="article-container">
         {% for entry in entries %}

             {# * ******************************************************************************************************* *#}
             {% set haendlerWebUrlText = '' %}
             {# * ******************************************************************************************************* *#}

             {% set haendlerWebUrl = entry.haendlerWebUrl %}
             {% set haendlerMail = entry.haendlerMail %}
             {% set haendlerMailData = '' %}
             {% set productGroupStr = ''  %}
             {% set auswahlKategorieProduktgruppeReihenfolgeArr = {} %}
             {% set sortKategorieProduktgruppeReihenfolgeArr = {} %}
             {% set valueExistsInArray = '' %}
             {% set key = '' %}

             {% set auswahlKategorieProduktgruppe = entry.auswahlKategorieProduktgruppe.all() %}
             {% for elemente in auswahlKategorieProduktgruppe %}
                 {% set auswahlKategorieProduktgruppeReihenfolgeArr = auswahlKategorieProduktgruppeReihenfolgeArr|merge({ (loop.index)  :  elemente.id }) %}
             {% endfor %}




             {% if haendlerWebUrl != '' and '//' in haendlerWebUrl %}
                 {% set haendlerWebUrlArray = haendlerWebUrl|split('//') %}
                 {% set haendlerWebUrlText = haendlerWebUrlArray[1] %}
             {% endif %}

             {% if haendlerMail != '' %}
                 {% set haendlerMailData = haendlerMail|replace({'@': '[at]'})%}
                 {% set haendlerMailData = haendlerMailData|replace({'.': '[dot]'})%}
             {% endif %}

             <article class="article-item">
                 <div class="artikelContent">

                             <div class="artikelCat artikelCatBordrtBottom artikelCat-js">

                                 {% set categoryReihenfolge = craft.categories().group('produktGruppen') %}
                                 {% for key, elemente in categoryReihenfolge.all() %}
                                         {% set valueExistsInArray = elemente.id|integer %}
                                         {% set key = elemente.id|string  %}
                                         {% if valueExistsInArray in auswahlKategorieProduktgruppeReihenfolgeArr %}
                                             {% set sortKategorieProduktgruppeReihenfolgeArr = sortKategorieProduktgruppeReihenfolgeArr|merge({ ( 'id-' ~ key )  : elemente.kategorieGruppeName }) %}
                                         {% endif %}
                                 {% endfor %}

                                 {% for key, value in sortKategorieProduktgruppeReihenfolgeArr %}
                                             {% set kategorieProduktgruppeID = key|replace({'id-': ''})%}
                                             {% if kategorieProduktgruppeID == idKategorieTofProdukte %}
                                                 {% set productGroupText = '<span class="green">' ~ value ~ '</span>' %}
                                             {% else %}
                                                 {% set productGroupText = '<span class="blue">' ~ value ~ '</span>' %}
                                             {% endif %}
                                             {% set productGroupStr = (productGroupStr == '')? productGroupText : productGroupStr  ~ '<span class="spacer">&nbsp;&frasl;&nbsp;</span>' ~ productGroupText  %}
                                 {% endfor %}

                                 {{ productGroupStr|raw }}
                             </div>

                             <div class="artikelBody artikelBodyAbstandTop">

                                     <div class="artikel-firmenName textBold">
                                         {{ entry.firmenName }}
                                     </div>

                                     <div class="artikel-haendlerName strong">
                                     {{ entry.haendlerName }}
                                     </div>

                                     <div class="artikel-adresse">
                                     {{ entry.haendlerAdresse|nl2br }}
                                     </div>

                                     <div class="artikel-tel">
                                     {% if entry.haendlerTelefonnummer is not empty %}
                                        {{ craft.wul.phone(entry.haendlerTelefonnummer,'phone',entry.haendlerTelefonnummer)|raw }}
                                     {% endif %}
                                     </div>

                                     {% if haendlerMail != '' %}
                                     <div class="artikel-mail">
                                         <a target="_blank" data-email="{{ haendlerMailData }}">{{ translation.t_mail }}</a>
                                     {% endif %}
                                     </div>

                                     <div class="artikel-WebUrl">
                                         {% if haendlerWebUrl != '' and '//' in haendlerWebUrl %}
                                         {{ translation.t_web }} <a href="{{ haendlerWebUrl }}" target="_blank">{{ haendlerWebUrlText }}</a>
                                         {% endif %}
                                     </div>

                            </div>

                 </div>
             </article>

             {% set counter = counter + 1%}
         {% endfor %}
         </div>

     {% else %}

        Es ist keine Ergebnise vorhanden!

     {% endif %}


{% if showMore %}
    <div class="pagination-container">

        <div class="pagination">

            <div class="pagination-arrow-left">
                {% if not pageInfo.prevUrl %}
                    <span class="links disabled">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                          <path id="Vereinigungsmenge_52" data-name="Vereinigungsmenge 52" d="M6.358,2.425l5,4.881H0v3.387H11.357l-5,4.881L8.783,18,18,9,8.783,0Z" transform="translate(18 18) rotate(180)" fill="#1372d0"/>
                        </svg>
                    </span>
                {% else %}
                    <a class="btnPager links"{% if pageInfo.prevUrl %} data-more="{{ pageInfo.prevUrl }}"{% endif %}>
                        <svg id="pagination-arrow-left" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                            <path id="pagination-arrow-left-fill" data-name="Vereinigungsmenge 52" d="M6.358,2.425l5,4.881H0v3.387H11.357l-5,4.881L8.783,18,18,9,8.783,0Z" transform="translate(18 18) rotate(180)" fill="#1372d0"/>
                        </svg>
                    </a>
                {% endif %}
            </div>

            <div class="pagination-arrow-counter">
                <div class="pagination-arrow-counter-inner">
                    {% for i in range(1,pageInfo.totalPages) %}
                        <a class="btnPager {% if pageInfo.currentPage == loop.index %} active{% endif %}" data-more="{{ myUrl }}/p{{loop.index}}{{ param }}">{{loop.index}}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="pagination-arrow-right">
                {% if not pageInfo.nextUrl %}
                    <span class="rechts disabled">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.094" height="16.957" viewBox="0 0 17.094 16.957">
                            <path id="arrow_forward_FILL0_wght400_GRAD0_opsz48_3_-_Kontur" data-name="arrow_forward_FILL0_wght400_GRAD0_opsz48 (3) - Kontur" d="M167.912-783.754l-1.9-1.9,5.377-5.25H159.5v-2.654h11.887l-5.377-5.251,1.9-1.9,8.683,8.479Zm-.132-1.891.143.143,6.893-6.731-6.893-6.731-.143.143,6.646,6.489H160.758v.2h13.667Z" transform="translate(-159.5 800.711)" fill="#1372d0"/>
                        </svg>
                    </span>
            {% else %}
                <a class="btnPager rechts"{% if pageInfo.nextUrl %} data-more="{{ pageInfo.nextUrl }}"{% endif %}>
                    <svg id="pagination-arrow-right"  xmlns="http://www.w3.org/2000/svg" width="17.094" height="16.957" viewBox="0 0 17.094 16.957">
                        <path id="pagination-arrow-right-fill" data-name="arrow_forward_FILL0_wght400_GRAD0_opsz48 (3) - Kontur" d="M167.912-783.754l-1.9-1.9,5.377-5.25H159.5v-2.654h11.887l-5.377-5.251,1.9-1.9,8.683,8.479Zm-.132-1.891.143.143,6.893-6.731-6.893-6.731-.143.143,6.646,6.489H160.758v.2h13.667Z" transform="translate(-159.5 800.711)" fill="#1372d0"/>
                    </svg>
                </a>
            {% endif %}
            </div>

        </div>

    </div>
{% endif %}



