{# *------------* Beschreibung GET Variabeln *------------ *#}
{# ************************************************* #}
{#
template        => Dieses Template wird über get-ajax-feedback.twig aufgerufen diese benötigt den Namen dieses templates
blockid         => wird das matrixElemente der "Content Page" in der Schleife ausgelesen ist dies die Block ID wo das Modul aufgerufen wird (benötigt in get-ajax-feedback.twig )
produktgruppe   => IDs Produktgruppe-Kategorie
land            => IDs Land-Kategorie
sectionname     => sectionname der "Content Page" Seite welches über das entprechende Modul, das Ajax Event ausgelöst
pageid          => ID der "Content Page" Seite welches über das entprechende Modul, das Ajax Event ausgelöst
#}


{# ************************************************* #}
{# *------------* START Konfiguration *------------ *#}
{# ************************************************* #}
{% set lg = 'en' %}
{# *-----------------------------------------*#}

{% set myUrl = url(craft.app.request.pathInfo) %}
{% set param = '?' ~ craft.app.request.getQueryStringWithoutPath()%}

{# *-----------------------------------------*#}
{% set sectionName = 'haendler' %}
{# *-----------------------------------------*#}
{% set articleItemsProduktgruppe = '' %}
{# *-----------------------------------------*#}
{% set showMore = false %}
{# *-----------------------------------------*#}
{% set resultPager = block.pager|number %}

{% if resultPager == 0 %}
    {% set pageSizeArtikel = 10000 %}
{% else %}
    {% set pageSizeArtikel = block.anzahlArtikel.value|number %}
{% endif %}

{# *-----------------------------------------*#}
{% set hasCategory = '0' %}
{# *-----------------------------------------*#}
{% set categoryBy = ''  %}
{# *-----------------------------------------*#}
 {% set ausgabeLand = '' %}
{# *-----------------------------------------*#}
{% set pageIdsLand = {} %}
{% set counterPageIdsLand = 0 %}
{# *-----------------------------------------*#}
{% set showAll = (land == '')? true : false %}
{# *-----------------------------------------*#}

{# *----------------* Land *---------------- #}
{% set categoryLandIdsAnzahl = 0 %}


{% if land != '' %}

    {% set categoryLandIdsArray = land|split(',') %}
    {% set categoryLandIdsAnzahl = categoryLandIdsArray|length %}
    {% set categoryLandSelectById = craft.categories().id(categoryLandIdsArray).all() %}
    {% set categoryLandBy = { element: categoryLandSelectById  }  %}
    {# ###################################### #}
    {% set articleItemsLand = craft.entries()
        .section(sectionName)
        .relatedTo(['and',categoryLandBy])
        .limit(pageSizeArtikel) %}

{% endif %}

{# *-------------* Produktgruppe *------------- #}
{% set categoryProduktgruppeIdsAnzahl = 0 %}
{% if produktgruppe != '' %}

    {% set categoryProduktgruppeIdsArray = produktgruppe|split(',') %}
    {% set categoryProduktgruppeIdsAnzahl = categoryProduktgruppeIdsArray|length %}
    {% set categoryProduktgruppeSelectById = craft.categories().id(categoryProduktgruppeIdsArray).all() %}
    {% set categoryProduktgruppeBy = { element: categoryProduktgruppeSelectById  }  %}
    {# ###################################### #}
    {% set articleItemsProduktgruppe = craft.entries()
        .section(sectionName)
        .relatedTo(['and',categoryProduktgruppeBy])
        .limit(pageSizeArtikel) %}

{% endif %}

{# * ============================================================ * #}
{# * ============================================================ * #}

{% if categoryProduktgruppeIdsAnzahl >= 1 and categoryLandIdsAnzahl >= 1 %}

    {% set articleItemsAll = craft.entries()
        .section(sectionName)
        .relatedTo(['and',
            {element: produktgruppe},
            {element: land}
        ])
    %}

    {% for item in articleItemsAll %}

        {% for catLandResult in item.auswahlKategorieLand.all() %}
            {% if land == catLandResult.id  %}
                {% set pageIdsLand = pageIdsLand|merge({ (counterPageIdsLand) : item.id }) %}
                {% set counterPageIdsLand = counterPageIdsLand + 1 %}
            {% endif %}
        {% endfor %}

    {% endfor %}

{% endif %}

{# * ******************************************************************************************************* *#}

    {% if land != '' %}

        {# einzel Land #}
        {% set pageIdsLandStr = pageIdsLand|join(', ') %}

        {% set articleItems = craft.entries()
            .section(sectionName)
            .relatedTo(['and',categoryProduktgruppeBy])
            .id(pageIdsLandStr)
            .limit(pageSizeArtikel) %}

        {% paginate articleItems as pageInfo, entries %}

    {% elseif produktgruppe != '' and land == '' %}

        {# Alle Produktgruppen / einzel Produktgruppe #}
        {% set articleItems = articleItemsProduktgruppe %}

    {% else %}

        {% set articleItems = articleItemsProduktgruppe %}

    {% endif %}

{# * ******************************************************************************************************* *#}

    {% set anzahlArtikel = articleItems.count()  %}
    {% if anzahlArtikel > 4 and anzahlArtikel > pageSizeArtikel %}
        {% set showMore = true %}
        {% paginate articleItems as pageInfo, entries %}
    {% else %}
        {% set showMore = false %}
    {% endif %}

    {# *-----------------------------------------* #}

    {% if showMore == false %}
        {% set entries = articleItems %}
    {% endif %}


     {% set counter = '1' %}
     {% if entries|length > 0 %}



         <div class="article-container">
         {% for entry in entries %}


             {# * ******************************************************************************************************* *#}
             {% set haendlerWebUrlText = '' %}
             {# * ******************************************************************************************************* *#}

             {% set haendlerWebUrl = entry.haendlerWebUrl %}
             {% set haendlerMail = entry.haendlerMail %}
             {% set haendlerMailData = '' %}

             {% if haendlerWebUrl != '' and '//' in haendlerWebUrl %}
                 {% set haendlerWebUrlArray = haendlerWebUrl|split('//') %}
                 {% set haendlerWebUrlText = haendlerWebUrlArray[1] %}
             {% endif %}

             {% if haendlerMail != '' %}
                 {% set haendlerMailData = haendlerMail|replace({'@': '[at]'})%}
                 {% set haendlerMailData = haendlerMailData|replace({'.': '[dot]'})%}
             {% endif %}

             <article class="haendler-item">
                 <div class="artikelContent">
                     {{ currentSite.handle }}
                     <br />=================<br />

                     {{ entry.firmenName }}
                     <br />=================<br />

                     {{ entry.haendlerName }}
                     <br />=================<br />

                     <div class="artikelContentAdresse" style="background-color: #b7e591; display: block">
                     {{ entry.haendlerAdresse|nl2br }}
                     </div>

                     <br />=================<br />

                     {% if entry.haendlerTelefonnummer is not empty %}
                        {{ craft.wul.phone(entry.haendlerTelefonnummer,'phone',entry.haendlerTelefonnummer)|raw }}
                     {% endif %}

                     <br />=================<br />

                     {% if haendlerMail != '' %}
                     <div class="artikelContentMail" style="background-color: pink">
                         <a data-email="{{ haendlerMailData }}">E-Mail schreiben</a>
                     {% endif %}



                     <br />=================<br />

                     <div class="artikelContentWebUrl" style="background-color: pink">
                         {% if haendlerWebUrl != '' and '//' in haendlerWebUrl %}
                         Web: <a href="{{ haendlerWebUrl }}" target="_blank">{{ haendlerWebUrlText }}</a>
                         {% endif %}
                     </div>

                 </div>
             </article>

             {% set counter = counter + 1%}
         {% endfor %}
         </div>

     {% else %}

        Es ist keine Ergebnise vorhanden!

     {% endif %}


{% if showMore %}
    <div class="pagination-container">

        <div class="pagination">

            <div class="pagination-arrow-left">
                {% if not pageInfo.prevUrl %}
                    <span class="links disabled">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="19.014" viewBox="0 0 19.014 19.014">
                            <path id="arrow_forward_FILL0_wght400_GRAD0_opsz48" d="M17.507,27.014l1.248-1.277L11.417,18.4h15.6V16.616h-15.6l7.338-7.338L17.507,8,8,17.507Z" transform="translate(-8 -8)" fill="#000"/>
                        </svg>
                    </span>
                {% else %}
                    <a class="btnPager links"{% if pageInfo.prevUrl %} data-more="{{ pageInfo.prevUrl }}"{% endif %}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="19.014" viewBox="0 0 19.014 19.014">
                            <path id="arrow_forward_FILL0_wght400_GRAD0_opsz48" d="M17.507,27.014l1.248-1.277L11.417,18.4h15.6V16.616h-15.6l7.338-7.338L17.507,8,8,17.507Z" transform="translate(-8 -8)" fill="#000"/>
                        </svg>
                    </a>
                {% endif %}
            </div>


            <div class="pagination-arrow-counter">
                <div class="pagination-arrow-counter-inner">
                    {% for i in range(1,pageInfo.totalPages) %}
                        <a class="btnPager {% if pageInfo.currentPage == loop.index %} active{% endif %}" data-more="{{ myUrl }}/p{{loop.index}}{{ param }}">{{loop.index}}</a>
                    {% endfor %}
                </div>
            </div>


            <div class="pagination-arrow-right">
                {% if not pageInfo.nextUrl %}
                    <span class="rechts disabled">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="19.014" viewBox="0 0 19.014 19.014">
                            <path id="arrow_forward_FILL0_wght400_GRAD0_opsz48" d="M17.507,27.014l-1.248-1.277L23.6,18.4H8V16.616H23.6L16.259,9.277,17.507,8l9.507,9.507Z" transform="translate(-8 -8)" fill="#000"/>
                        </svg>
                    </span>
            {% else %}
                <a class="btnPager rechts"{% if pageInfo.nextUrl %} data-more="{{ pageInfo.nextUrl }}"{% endif %}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="19.014" viewBox="0 0 19.014 19.014">
                        <path id="arrow_forward_FILL0_wght400_GRAD0_opsz48" d="M17.507,27.014l-1.248-1.277L23.6,18.4H8V16.616H23.6L16.259,9.277,17.507,8l9.507,9.507Z" transform="translate(-8 -8)" fill="#000"/>
                    </svg>
                </a>
            {% endif %}
            </div>

        </div>

    </div>
{% endif %}



