<section class="wl-wrapper">

    {% if pageId == 2%}


        <br /><br /><br />

    <h1 class="home">MRT-Expertise für<br />Produkte &<br />Entwicklung</h1> <br /><br />


    <h1>Ich bin eine H1 Überschrift | ygj ÄÜÖ</h1> <br /><br />

    <h2>Ich bin eine H2 Überschrift | ygj ÄÜÖ</h2> <br /><br />

    <h3 class="demo-1 demo-2">Ich bin eine H3 Überschrift | ygj ÄÜÖ</h3> <br /><br />

    <h4>Ich bin eine H4 Überschrift | ygj ÄÜÖ</h4><br /><br />

        <style>
            .test{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: stretch;
                align-content: stretch;
            }
        </style>

        <div class="test">
            <div style="width: 50%" class="textBold">Auszeichnungen & Zertifikate<br />Auszeichnungen & Zertifikate<br />Auszeichnungen & Zertifikate</div>
            <div style="width: 50%" >Auszeichnungen & Zertifikate<br />Auszeichnungen & Zertifikate<br />Auszeichnungen & Zertifikat</div>


        </div>





    <br /><br />


    {% set setTooltipClass = craft.app.request.isMobileBrowser() ? '' : 'simptip-position-top simptip-fade' %}
    {% if siteConfig.phone is not empty %}
        <span class="{{ setTooltipClass }}" data-tooltip="{{ siteConfig.phone }}">
            {{ craft.wul.phone(siteConfig.phone,'telefonnummer','0')|raw }}
                <img class="telefonnummer-icn" src="/assets/images/icons/phone-icn.svg" height="31" width="31" alt="{{ siteConfig.phone }}" />{{ siteConfig.phone }}
            </a>
        </span>
        {% endif %}

    {% endif %}






    <br /><br />
    {% include '_include-vendor/grid-demo-12' %}
    <br /><br />

    {% set headline = entry.headline %}
    {% set entryHeadline = entry.headline|default(false) %}
    {% if entryHeadline %}
        <h1>{{ headline }}</h1>
    {% endif %}

</section>