{% macro errorList(errors) %}

    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

{% set form = wheelform.form({
    id: formularId,
    redirect: formularAntwortUrl,
}) %}

{% set formLocation = (craft.app.request.segments|last != '')? craft.app.request.segments|last : 'home' %}

<div id="form" class="wl-form-wrapper" data-location="{{ formLocation }}">

    {{ form.open() }}
    {#
    {{ wheelformErrors['honeypot'] is defined ? errorList(wheelformErrors['honeypot']) }}
    #}

    {{ form.honeypot() }}
    {% set errorArray = [] %}
    {% set formError = 0 %}
    {% set setHiddenClass = '' %}
    {% import "_include-core/macros.twig" as _self %}

    <div class="field-group-1">

        <div class="field-group">
            <div class="group-single">{{ _self.formField( formularId, 'vorname', block ) | trim | raw  }}</div>
        </div>

        <div class="field-group">
            <div class="group-single">{{ _self.formField( formularId, 'nachname', block ) | trim | raw  }}</div>
        </div>

        <div class="field-group">
            <div class="group-single">{{ _self.formField( formularId, 'email', block ) | trim | raw  }}</div>
        </div>

        <div class="field-group">
            <div class="group-single">{{ _self.formField( formularId, 'telefon', block ) | trim | raw  }}</div>
        </div>

        <div class="field-group">
            <div class="group-single">{{ _self.formField( formularId, 'message', block ) | trim | raw  }}</div>
        </div>

        <div class="field-group">
            <div class="group-single">{{ _self.formField( formularId, 'dsgvo', block ) | trim | raw  }}</div>
        </div>

    </div>


    <input type="hidden" name="scrollto" value="1">

    <button style="display:none" type="submit" class="submit-button" id="submit">{{ block.submitButtonText }}</button>
    <span class="submit-button" id="checkSubmit">{{ block.submitButtonText }}</span>

    <div class="form-info">
        {{ block.infoText }}
    </div>

    <div id="lock-modal"></div>
    <div id="loading-circle"><img src="/assets/images/icons/loading-circle.svg" alt="loading-circle" /></div>

    </form>

    {% set scrollTo = '0' %}
    {% if craft.app.request.getBodyParam('scrollto') == '1' %}
        {% set scrollTo = '1' %}
    {% endif %}


    <script>

        $(document).ready(function() {

            window.dataLayer = window.dataLayer || [];

            $('#form').find('form').addClass('formular-Kontakt');

            formValidate('.formular-Kontakt', '#checkSubmit');

            var scrollTo = {{ scrollTo }}, antispamContent = '<input style="display: none;" class="antispam" type="checkbox" value="prevent spam" name="antispam[]" id="" checked />';

            $('#form').find('.wf-bouncer-{{ formularId }}').after(antispamContent);

            if(scrollTo == '1') {

                $('html, body').animate(
                    {
                        scrollTop: $('#form').offset().top -60,
                    },
                    500,
                    'linear'
                )
            }

            floatLabel(".form-control");
        });

        /**
         * Lables Interaktion
         * @param inputType
         */
        function floatLabel(inputType){
            $(inputType).each(function(){
                var $this = $(this);
                // on focus add cladd active to label
                $this.focus(function(){
                    $this.parent().find('.lableInputField').addClass("active");
                });
                //on blur check field and remove class if needed
                $this.blur(function(){
                    if($this.val() === '' || $this.val() === 'blank'){
                        $this.parent().find('.lableInputField').removeClass("active");
                    }
                });
            });

        }
    </script>


</div>



